<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Registrar</title>
  <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
<div class="login-container">
  <h2>Registrar</h2>

  <form th:action="@{/auth/register}" th:object="${user}" method="post">
    <input type="text" th:field="*{username}" placeholder="Usuário" required>
    <input type="password" th:field="*{password}" placeholder="Senha" required>
    <button type="submit">Registrar</button>
  </form>

  <p><a th:href="@{/auth/login}">Voltar ao Login</a></p>
</div>
</body>
</html>
